<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="mensajes"><strong>Cooperativa</strong></a>
    </div>
    <ul class="nav navbar-nav">
			{{#if session.isAuthenticated}}
				{{#if Admin}}
					<li>{{link-to 'Mensajes' 'mensajes'}}</li>
					<li>{{link-to 'Pagos' 'insertar-ahorro'}}</li>
					<li>{{link-to 'Préstamos Solicitados' 'prestamos-solicitados'}}</li>
					<li>{{link-to 'Aceptar Socios' 'aceptar-socio'}}</li>
					<li>{{link-to 'Historial de Cuotas' 'historial-cuotas-socios'}}</li>
				{{else}}
					<li>{{link-to 'Mensajes' 'mensajes'}}</li>
					<li>{{link-to 'Próximas Cuotas' 'proximas-cuotas'}}</li>
					<li>{{link-to 'Solicitar Préstamo' 'solicitar-prestamo'}}</li>
				{{/if}}
			{{/if}}
    </ul>
		{{#if session.isAuthenticated}}
			<div class="salir">
    		<button class="btn btn-danger navbar-btn" {{action "cerrarSesion"}}><strong>Cerrar Sesión</strong></button>
			</div>
		{{/if}}
  </div>
</nav>