{{menu-superior}}
<div class="container">
		{{#if error}} 
		<div class="container">
			{{ventana-notificacion mensaje=errorMessage}}
		</div>
	{{/if}}
	<div class="col-12">
		<table class='table table-bordered' id='tablaProximasCuotas'>
			<thead>
				<tr>
					<th  style="text-align: center">Socio</th>
					<th  style="text-align: center">Correo</th>
					<th  style="text-align: center ">Aceptar</th>
				</tr>
			</thead>
			<tbody>
				{{#each model as |user|}}
				<tr class="bodyTable">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td style="text-align: center">
						<button class="btn btn-danger" {{action "rechazarSocio" user}}>Rechazar</button>
						<button class="btn btn-success" {{action "aprobarSocio" user}}>Aprobar</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
{{outlet}}