{{menu-superior}}
{{outlet}}

<div class="container" id="container_filter_fees">
	<h4 id="label_filter_fees"><strong>Historial de Cuotas</strong></h4>
	<div class="filter_fees">
		<button class="btn btn-primary" id="boton_ver_por_mes" {{action "verMes"}}><span class="glyphicon glyphicon-search"></span>Ver por Mes</button>
		<button class="btn btn-primary" id="boton_ver_por_socios" {{action "verSocios"}}><span class="glyphicon glyphicon-search"></span>Ver por Socios</button>
	</div>
</div>

<br>
{{#if table}}
	{{#if error}}
		<div class="container">
			{{ventana-notificacion mensaje=errorMessage}}
		</div>
	{{/if}}
	<div class="tituloCuotas"><h2><strong>Cuotas</strong></h2></div>
	<div class="container">
		<table class = 'table table-bordered' id='tablaCuotasPorMes'>
			<thead>
				<tr>
					{{#if seeByMonth}}
						<th>Mes</th>
					{{/if}}
					{{#if seeByPartner}}
						<th>Socio</th>
					{{/if}}
					<th>Administración</th>
					<th>Abonos</th>
					<th>Intereses</th>
					<th>Multas</th>
				</tr>
			</thead>
			<tbody>
				{{#each model as |mes|}}
				<tr>
					{{#if seeByMonth}}
						<td><strong>{{mes.mes}}</strong></td>
					{{/if}}
					{{#if seeByPartner}}
						<td><strong>{{mes.nombreSocio}}</strong></td>
					{{/if}}
					<td>{{mes.administracion}}</td>
					<td>{{mes.abono}}</td>
					<td>{{mes.interes}}</td>
					<td>{{mes.multa}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}