{{menu-superior}}
{{outlet}}

{{#unless session.isAuthenticated}}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container" id="contenedor_sesion">
<br>

  <span class="glyphicon glyphicon-user" id="icono_inicio_sesion"></span><br/>

  <span id="etiqueta_correo_incio_sesion"><strong>Correo:</strong></span> {{input type="email" value=Email}}<br/>
  <span id="etiqueta_contraseña_inicio_sesion"><strong>Contraseña:</strong></span>{{input type="password" value=Contrasena}}<br/>
  <button class="class=btn btn-basic btn-md" id="boton_inicio_sesion" {{action "signIn"}}>Iniciar Sesion</button>
</div>

{{/unless}}
{{#if error}}
  {{ventana-notificacion mensaje=errorMessage}}
{{/if}}