{{outlet}}

{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  Correo: {{input type="email" value=Email}}<br/>
  Contraseña: {{input type="password" value=Contrasena}}<br/>
  <button {{action "signIn"}}>Iniciar Sesion</button>
{{/if}}
{{#if error}}
  {{ventana-notificacion mensaje=errorMessage}}
{{/if}}