{{menu-superior}}
{{outlet}}

{{#unless session.isAuthenticated}}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container" id="contenedor_sesion">
	<br>

	<span class="glyphicon glyphicon-user" id="icono_inicio_sesion"></span><br/>

	<form {{action "signIn" on="submit"}}>
		<strong>Correo</strong> {{input value=email class="form-control"}}
		<strong>Contraseña</strong> {{input value=Contrasena type="password" class="form-control"}}<br>
		<button class="btn btn-success" id="boton_inicio_sesion" type="submit">Inicar sesion</button>
		<button class="btn btn-primary" id="boton_crear_usuario" {{action "createUser"}}>Crear Usuario</button>
	</form>
	<br>
	{{#if error}}
		<br>
		<br>
		{{ventana-notificacion mensaje=errorMessage}}
	{{/if}}
	<br>
</div>

{{/unless}}
