{{outlet}}

{{#unless session.isAuthenticated}}
  Correo: {{input type="email" value=Email}}<br/>
  Contraseña: {{input type="password" value=Contrasena}}<br/>
  <button {{action "signIn"}}>Iniciar Sesion</button>
{{/unless}}
{{#if error}}
  {{ventana-notificacion mensaje=errorMessage}}
{{/if}}