{{menu-superior}}
Nombre: {{input type="text" value=Nombre}}<br/>
Correo: {{input type="email" value=Email}}<br/>
Contraseña: {{input type="password" value=Contrasena}}<br/>
<button {{action "crearUsuario"}}>Crear socio</button>
