{{menu-superior}}

<div class="container">
	<div class="menu"><h3 >Insertar ahorro</h3></div>
	<br>
	<div class="row">
		<div class="col-sm-6">
			<select value="role" class="form-control" onchange={{action "updateValue" value="target.value"}}>
				<option value="vacio">No has seleccionado ningún socio</option>
				{{#each model.users as |role|}}
					{{#if role.acepted}}
					<option value="{{role.id}}">{{role.name}}</option>
					{{/if}}
				{{/each}}
			</select>
			<br><br>
			<button class="btn btn-primary" {{action 'insertarAhorro'}}>Insertar ahorro</button>		
		</div>
		<div class="col-sm-6">
		{{#if model.fecha}}
				<div class="container" id="ahorro">
						<h2>Detalle ahorro:</h2><hr> 
						<label >Fondo solidaridad: $1.000</label><br>
						<label >Cuota base: $30.000 </label><br>
						<label >Bono: $20.000</label><br>
						<label >Fecha: {{model.ahorro.fecha_insercion}} </label><br>
						<strong>Total: <label>$51.000</label></strong>
				</div>
		{{else}}
				<div class="container" id="ahorro"><label >Detalle ahorro:</label><br>
						<label >Fondo solidaridad: $1.000</label><br>
						<label >Cuota base: $30.000 </label><br>
						<label >Fecha: {{model.ahorro.fecha_insercion}} </label><br>
						<strong >Total: <label>$31.000</label></strong>
				</div>
		{{/if}}

		</div>
		{{outlet}}
		<br>
	</div>	

	{{#if error}} 
			<div class="container">
			{{ventana-notificacion mensaje=errorMessage}}
			</div>
	{{/if}}

	<hr>
	<h3 >Insertar cuota</h3>

	<div class="row">
		<div class="col-sm-7">
			{{#if verCuota}}
				<label >{{valorPrestamo}}</label><br>
				<label >{{fechaPrestamo}}</label><br>
				<label >{{montoParcial}}</label><br><br>

				{{input type="checkbox" name="multa" checked=multa}} <label >Multa</label> <br>
				<button class="btn btn-primary" {{action 'insertarCuota'}}>Insertar Cuota</button>
			{{/if}}

		</div>

		<div class="col-sm-4">
			<div class="container" id="cuota">
			{{#if verCuota}}
				<i style="color:red">{{sinCuotas}}</i> <i>{{detalleCuota}}</i><br>
				
				<label >Valor Abono: </label> <input type=number min="1" max={{montoRestante}} value=valorAbono class="form-control" placeholder={{valorAbono}} id="valorAbono">
				<label >{{valorInteres}}</label><br>
				<label >{{valorMulta}}</label><br>
				<label >{{valorAdministracion}}</label><br>
				{{#if multa}}
					<label> Multa: $10.000 </label><br>
					<label> Total: {{valorTotalMulta}}</label>
				{{else}}
					<label> Total:  {{valorTotal}}</label>
				{{/if}}
			{{/if}}
			</div>
			
		</div>
	</div>
</div>





