<div class="container" style="border:1px solid #6d6261; border-radius: 5px; background-color: #47BC43">
  <strong style="color:#1A2448">Publicar Mensaje</strong>
  <div class="publicar">
    {{textarea class="publicarMensaje" value=mensaje}}
    <button class="btn btn-default" style="color:#12225C" {{action "publicarMensaje"}}><span class="glyphicon glyphicon-envelope"></span> Publicar </button> 
  </div>
</div>
<br>
<div class="container" style="border:1px solid #6d6261; border-radius: 5px; background-color: #FAFAFD;">
  <div class="publicaciones">
    <strong>Publicaciones </strong>
    <div class="estetica" style="border:1px solid #6d6261; border-radius: 5px;">
      <ul>
          {{#each   model  as |mensaje|}}
            <li>{{mensaje.fecha}} {{mensaje.texto}}</li>
          {{/each}}
      </ul>
    </div>
  </div>
  <div class="buscar">
    {{textarea class="buscarMensaje" value=input}}
    <button class="btn btn-default" style="color:#12225C"> <span class="glyphicon glyphicon-search"></span> Buscar </button> 
  </div>
</div>
<br>
<div class="warning">
  <div class="alert alert-warning">
    Advertencia: Campos incompletos
  </div>
  {{#if error.error}}
    {{ventana-notificacion mensaje=error.message}}
  {{/if}}
</div>

{{outlet}}