
{{textarea value=mensaje}}<br/>

<button {{action "publicarMensaje"}}>Publicar </button>

<ul>
  {{#each   model  as |mensaje|}}
    <li>Hello, {{mensaje.texto}}!</li>
  {{/each}}
</ul>

{{#if error.error}}
  {{ventana-notificacion mensaje=error.message}}
{{/if}}
{{outlet}}