<div class="container">
  <div class="cuadroDeTexto">
    {{textarea value=mensaje}}
  </div>
  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <strong>Publicaciones </strong>
      <ul>
            {{#each model as |mensaje|}}
            <li>{{mensaje.fecha}} {{mensaje.texto}}</li>
            {{/each}} 
      </ul>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button class="btn btn-lg btn-danger active" {{action "publicarMensaje"}}>
        <span class="glyphicon glyphicon-envelope"></span> Publicar </button>
      <button class="btn btn-lg btn-danger active" {{action "buscarMensaje"}}>
        <span class="glyphicon glyphicon-search"></span> Buscar </button>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-warning">
      Advertencia: Campos incompletos
    </div>
    {{#if error.error}} {{ventana-notificacion mensaje=error.message}} {{/if}}
  </div>
</div>

{{outlet}}