{{menu-superior}}
{{#if Admin}}
<div class="container" style="border:1px solid #6d6261; border-radius: 5px; background-color: rgba(230,230,230)">
  <h4 style="color: rgb(50,50,50)"><strong >Publicar Mensaje</strong></h4>
  <div class="publicar">
    {{rol}}
    {{textarea class="publicarMensaje" value=mensaje}}
    <button class="btn btn-default" style="color:rgb(50, 50, 50); margin: 0px 0px 5px;" {{action "publicarMensaje"}}><span class="glyphicon glyphicon-envelope"></span> Publicar</button>
    
  </div>
</div>
{{/if}}
<br>
<div class="container" style="border:1px solid #6d6261; border-radius: 5px; background-color: #FAFAFD;">
  <div class="publicaciones">
    <h4><strong>Publicaciones </strong></h4>
    <div class="estetica" style="border:1px solid #6d6261; border-radius: 5px;">
      <div>

        {{#each model as |mensaje|}}            
            <h4>
              <span class="label label-default label-lg" style="margin: 0px 10px;">            
                <h6 class="glyphicon glyphicon-calendar"><span> </span> {{mensaje.fecha}}</h6>   
              </span>
            </h4>   

            
            <p class="glyphicon glyphicon-envelope " style="margin: 0px 10px;" ><span> </span><span style="font-family: sans-serif;">{{mensaje.texto}}</span></p>
                    
                
            <hr style="border: 0; 
            height: 1px; 
            margin: 0.1em auto;
            background-image: -webkit-linear-gradient(left, #f0f0f0, #5c5b5b, #f0f0f0);
            background-image: -moz-linear-gradient(left, #f0f0f0, #5c5b5b, #f0f0f0);
            background-image: -ms-linear-gradient(left, #f0f0f0, #5c5b5b, #f0f0f0);
            background-image: -o-linear-gradient(left, #f0f0f0, #5c5b5b, #f0f0f0); ">

        {{/each}} 
      </div>        
     
    </div>
  </div>
  <div class="buscar">
    <br>
    {{textarea class="buscarMensaje" value=buscarMensaje}}
    
    <button class="btn btn-default" style="color:#12225C; margin: 0px 0px 5px;" {{action "buscarMensaje"}}> <span class="glyphicon glyphicon-search"></span> Buscar </button> 
  </div>
</div>
<br>
  {{#if error}} {{ventana-notificacion mensaje=errorMessage}} {{/if}}
{{outlet}}