<p>holaaa</p>

{{aupac-typeahead action=(action (mut country))
  class='form-control'
  source=countrySource
  placeholder='Busca tu mensaje'}}

<button {{action "publicarMensaje"}}>Crear socio</button>
{{input value=(mut (get person field))}}

<button {{action "mostrar"}}>mostrar</button>
<ul>
  {{#each model as |mensaje|}}
    <li>Hello, {{mensaje.texto}}!</li>
  {{/each}}
</ul>






<h1>Welcome to {{appName}}</h1>
<br>

<h1> One way binding </h1>
{{#each solutionTypes as |solutionType|}}
 {{input value=(get inputData (get solutionType 'id')) }}
{{/each}}

<h2> Two way binding </h2>
{{#each mensajes as |mensaje|}}
 {{input value=(mut (get inputData (get mensaje 'texto'))) }}
{{/each}}
<br>
<h2> Result </h2>
 {{#each mensajes as |mensaje|}}     
   <span> {{get inputData (get mensaje 'id')}} </span>
 {{/each}}
 <br />
{{outlet}}
<br>
<br>

{{outlet}}